.imageDiv{
    display: flex;
    justify-content: flex-start;

    margin: 10% 0 0 10%;
}

#hlaPicture {
    max-width: 30%;
    border-radius: 50%;
}

/* tablet styles */
@media only screen and (max-width: 1023px) and (min-width: 768px) {

}

/* phone styles */
@media only screen and (max-width: 767px) {
}