.infos{
    max-width: 50vw;
    padding: 70px 40px;
    margin-top: 20px;

    font-family: 'Inter Tight', sans-serif;
    font-weight: bolder;
    color: #333434;
}

.introNameSE{
    font-size: 20px;
    margin: 20px 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #848484;
    margin-bottom: 20px;

    line-height: 40px;
    max-width: 75%;
}

#myProjectsButton{
    padding: 12px;
    background: #232324;
    color: whitesmoke;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px 2px gray;

    font-family: inherit;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
}