.footerDiv{
    background: #131313;
    color: #a2a2a2;

    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.footerDiv button {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: bold;

    border: none;
    background: inherit;
    color: inherit;

    cursor: pointer;
}


/* tablet styles */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
}

/* phone styles */
@media only screen and (max-width: 767px) {
    .footerDiv{
        padding: 40px 40px;
    }

    .footerDiv button {
        font-size: 20px;
    }
}


/* tablet styles */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
}

/* phone styles */
@media only screen and (max-width: 767px) {
    .footerDiv{
        padding: 40px 40px;
    }

    .footerDiv button {
        font-size: 20px;
    }
}