body{
    background: #f4f4f4;
}

.links{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 30%;

    background: #f5f5f5;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    display: grid;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    z-index: 101;
}

.links button {
    display: block;
    border: none;
    width: 100%;

    padding: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin: auto;
    cursor: pointer;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: black;
}

.links button:hover {
    background: #333434;
    color: white;
}

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.85);
}

.hidden{
    display: none;
}

/* tablet styles */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .links button{
        font-size: 30px;
    }
}

/* phone styles */
@media only screen and (max-width: 767px) {
    .links{
        width: 75%;
    }

}