.projectPageBody{
    background: #e0e0e0;
    padding-bottom: 40px;
    overflow: hidden;
}

.contents{
    margin: 0 20%;
}

/* tablet styles */
@media only screen and (max-device-width: 1024px) and (min-width: 768px) {
    .contents {
        margin: 0 15%;
    }
}

/* phone styles */
@media only screen and (max-width: 767px) {
    .contents{
        margin: 0 2%;
    }
}