.svg {
    margin-top: 25%;
}

.letters, #ia, #oa, .hs, #l {
    stroke: black;
    stroke-width: 0.5px;
    fill: none;
}

.intro {
    position: relative;
    top: 400px;
    font-family: Roboto, sans-serif;
    font-size: 10vh;
}