@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-light-background dark:bg-gradient-to-t from-dark-background-from via-dark-background-via to-dark-background-to text-light-text dark:text-dark-text;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
        background: var(--scrollbar-bg);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        border-radius: 20px;
        border: transparent;
    }
}

:root {
    --scrollbar-thumb: rgba(0, 0, 0, 0.7);
    --scrollbar-bg: white;
}

.dark {
    --scrollbar-thumb: #9e63e6;
    --scrollbar-bg: #210F2E;
}