.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #131313;
    padding: 10px 0;
}

#gitHubLogo {
    background: inherit;
    height: 40px;
    margin: 10px 0;
    cursor: pointer;
}
